.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 100px;
}
.welcome{
  color:white;
  margin: 20px;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100%}

/* Set gray background color and 100% height */
.sidenav {
  height: 100%;
  
}

.list-group{
  cursor: pointer;
}

.leftnav{
  border-left: 1px solid rgb(0, 0, 0)
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
  }
  .row.content {height:auto;} 
}